table.calendar {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	border-collapse: collapse;
	background-color: #D9E7F4;
	border: solid #999999 1px;
	width: 190px;
	text-align: center;
	/*prevent user from selecting text in Mozilla & Safari - check calendar constructor for IE code)*/
	-moz-user-select: none;
    /*-khtml-user-select: none;*/
}
table.calendar input, table.calendar select {
	font-size: 11px;
}
table.calendar td {
	border: 0;
	font-size: 11px;
	text-align: center;
}
div.mainheading {
	margin: 2px;
}
table.caldayheading {
	border-collapse: collapse;
	empty-cells: show;
	margin: 0 6px 0 6px;
	background-color:white;
}
table.caldayheading td {
	border: solid #CCCCCC 1px;
	text-align: center;
	font-weight: bold;
	width: 22px; /*should match calendar cell's width*/
	color: #336699;
}
table.caldayheading td.wkhead {
	border-right: double #CCCCCC 3px;
}
table.calcells {
	border-collapse: collapse;
	cursor: default;
	margin: 0 6px 0 6px;
}
table.calcells td {
	border: solid #CCCCCC 1px;
	vertical-align: top;
	text-align: center;
	font-weight: normal;
	width: 22px;
	height: 20px; /*IE doesn't like ems*/
}
table.calcells td div {
	padding: 1px;
	margin: 0;
}
table.calcells td.wkhead {
	background-color: white;
	text-align: center;
	border-right: double #CCCCCC 3px;
	color: #0054E3;
}
table.calcells td.wkday {
	background-color: white;
	color: #31616c;
}
table.calcells td.wkend {
	background-color: #F2F8FD;
	color: #31616c;
}
table.calcells td.wkend2 {
	background-color: #F2F8FD;
	color: #CCCCCC;
}
table.calcells td.wkend3 {
	background-color: #F2F8FD;
	color: #CCCCCC;
}
table.calcells td.curdate {
	color: red;
	font-weight: bold;
}
table.calcells td.cell_selected {
	background-color: #99CCFF;
}
table.calcells td.notmnth {
	background-color: #FFFFFF;
	color: #CCCCCC;
}
table.calcells td.notallowed {
	background-color: white;
	color: #EEEEEE;
	font-style: italic;
}
table.calcells td.allowday {
	background-color: #99CCFF;
	cursor: pointer;
	cursor: hand;
}

#toolTipBox {
   display: none;
   font-size: 8pt;
   border: 1px outset #336699;
   font-family: verdana;
   text-align: justify;
   position: absolute;
   color: #336699;
   background-color: #E0EBF5;
}
